:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
    }

    @media (min-width: 992px) {
    .container{
        width: 970px;
    }
    }

    @media (min-width: 1200px) {
        
    .container{
        width: 1170px;
    }
    }

    .special-heading{
        color: #ebeced;
        font-size: 100px;
        text-align: center;
        font-weight: 800;
        letter-spacing: -3px;
        margin: 0px;

    }
    .special-heading + p{
        margin: -30px 0 0;
        font-size: 20px;
        text-align: center;
        color: #797979;
    }
    @media (max-width: 767px ){
        .special-heading{
            font-size: 60px;
        }
        .special-heading + p{
            margin-top: -20px;
        }
    }
.container{
    padding: 20px;
}
  .header{
      padding-left: 20px;
  }
    .header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
     .header .logo{
        width: 60px;
    }
    .header .navbar{
      position: relative;
    }
    .header .icon{
        background-color: #f3f3f3;
        width: 15px;
        display: flex;
        flex-wrap: wrap;


    }


     .header .navbar ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        background-color:  var(--section-padding);
        right: 0;
        min-width: 200px;
        top: calc(100% + 15px);
        position: absolute;
        display: none;
        z-index: 1;
    }
    .header .navbar:hover ul{
    display: block;
    }
    .header .navbar ul::before{
        content: "";
        border-width: 20px;
        border-style: solid;
        border-color: transparent transparent #f6f6f6 transparent;
        position: absolute;
        right: 5px;
        top: -20px;
    }
     .navbar ul li a{
        display: block;
        padding: 15px; 
        text-decoration: none;
        color: #333;
        transition: 0.3s;
    }
    .navbar ul li a:hover{
        padding-left: 25px;
    }
.navbar ul li:not(:last-child) a{
    border-bottom: solid 1px #ddd;
}

 
    .landing{
        background-image: url("../images/landing.jpg") ;
        background-size: cover;
        height: calc(100vh - 60.4px);
            position:relative;
       }

    .landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50% ,-50%);
    width: 320px;
    max-width: 100%;
        }
    .landing .intro-text h1{
            margin:0;
            font-size: 50px;
            font-weight: bold;
            color: var(--main-color);
        }
    .landing .intro-text p{
            font-size: 19px;
            line-height: 1.8;
        }
        .features{
            padding-top: var(--section-padding);
            padding-bottom: 60px;
            background-color: var(--section-background);
        }
        .features .container{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
            grid-gap: 20px;

        } 

        .features .feat{
            padding: 2px;
            text-align: center;
        }
        .features .feat i{
            color: var(--main-color);
        }
        .features .feat h3{
            font-weight: 800;
            margin: 30px 0;
        }
            .features .feat p{
                line-height: 1.8;
                color: #777;
                font-size: 17px;
            }
            .services{
                padding-top: 60px;
                padding-bottom: 60px;
            }

           .services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}

@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}



  .Portfolio  {
      padding-top: var(--section-padding);
      padding-bottom: var(--section-padding);
      background-color: var(--section-background);
  } 
   .Portfolio .portfolio-content  {
       display: grid;
       grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
       grid-gap: 30px;
       margin-top: 80px;
   }

    .Portfolio .portfolio-content .card {
        background-color: white;
    }
    .Portfolio .portfolio-content .card img {
        max-width: 100%;
    }
     .Portfolio .portfolio-content .card  .info {
        padding: 20px;
    }
         .Portfolio .portfolio-content .card  .info h3{
            margin: 0;
         }
     .Portfolio .portfolio-content .card  .info p{
             color: #777;
             line-height: 1.8;
         }


         .about {
                padding-top: var(--section-padding);
                padding-bottom: calc(var(--section-padding)+ 60px);
                }

                 .about .about-content{
                     margin-top: 100px;
                     display: flex;
                     flex-wrap: wrap;
                     justify-content: space-between;
                 }
                 @media (max-width: 991px){
                     .about .about-content{
                        flex-direction: column;
                        text-align: center;
                 }
                 }
                 
                    .about .about-content .image{
                        position: relative;
                        width: 250px;
                        height: 375px;
                    
                    }
                         .about .about-content .image img{
                             max-width: 100%;
                         }
    @media (max-width: 991px){
                     .about .about-content .image
                     {
                        margin: 0 auto 60px;
                    }
                    }
                    

                     .about .about-content .image::before{
                        content: "";
                        position: absolute;
                        background-color: #ebeced;
                        width: 100px;
                        height: 100%; 
                        top: -40px; 
                        left: -20px;
                        z-index: -1;
                     }
                     .about .about-content .image::after{
                         content: "";
                         position: absolute;
                         width: 120px;
                         height: 300px;
                         border-left: 80px solid var(--main-color);
                         border-bottom: 80px solid var(--main-color);
                        z-index: -1;
                        right: -150px;
                        top: -40px;
                     }
                       @media (max-width: 991px){
                     .about .about-content .image::before,
                      .about .about-content .image::after{
                        display: none;
                      }
                    }
    .about .about-content .text{
        flex-basis: calc(100% - 500px);
    }
        .about .about-content .text p:first-of-type{
            font-weight: bold;
            line-height: 2;
            margin-bottom: 50px;
        }
        .about .about-content .text hr{
            width: 50%;
            display: inline-block;
            border-color: var(--main-color);
        }
        .about .about-content .text p:last-of-type{
            line-height: 2;
            color: #777;
        }









 







































































































































































































